.inlineBlock {
    display: inline-block;
    vertical-align: top;
}

.logo {
    width: 23%;
    padding: 1%;
    text-align: center;
}

nav {
    width: 73%;
    padding: 1%;
}

ul {
    width: 50%;
    margin-left: auto;
}

.heroImg {
    height: 600px;
    padding: 25px;
}

.class {
    width: 500px;
    margin: 0 auto;
}

footer {
    background-color: 373738;
    padding: 0%;
}

footer.ul {
    display: inline-block;
    vertical-align: top;
    padding: 50%;
}

/* My UX Skills section coded using CSS */

.flexContainer {
    display: flex;
    flex-direction: row;
}

.flexContainer div {
    width: 33%;
    margin: 50px;
}

/* My Work section coded using CSS */

.workGrid {
    display: grid;
    grid-template-areas: 'area area';
}

/* My media query coded using CSS */

@media only screen and (max-width: 600){
    .flexContainer {
        display: flex;
        flex-direction: column;
    }

    .flexContainer div {
        width: 100%;
    }

    .workGrid {
        grid-template-areas: 1fr;
    }
}